
<div class="container">
  <h4>Découvrez nos produits et profitez des meilleures offres !</h4>
  <nav class="p-2 m-2 border  border-info">
<button   class="btn btn btn-outline-info" (click)="handleNewProduct()">New Product</button>


  </nav>


  <ng-template #errors>
 <div class="text-danger"> {{errorMessage}}</div>

  </ng-template>

  <div class="card" *ngIf="product; else errors ">
    <div class="card-header btn  btn-danger "  > Product List</div>
   <div class="card-body">

     <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
       <div class="input-group">
         <label class="input-group-text">keyword:</label>
        <input type="text" class="form-control" formControlName="keyword">
         <button class="btn btn-info">
           <i class="bi bi-search"></i>
         </button>
       </div>
     </form>

     <table class="table">
       <thead>
       <tr>
         <th>ID</th>  <th>NAME</th>  <th>PRICE</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let p of product">
         <td>{{p.id}}</td>
         <td>{{p.name}}</td>
         <td>{{p.price}}</td>
         <td >
           <i *ngIf="p.promotion" class="bi bi-heart-fill text-success"> </i>
         </td>
         <td >
           <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion?'btn-danger':'btn-success'" class="btn ">
             <span *ngIf="p.promotion">Promo Off </span>
             <span *ngIf="!p.promotion">Promo On </span>

           </button>
         </td>
         <td >
           <button (click)="handleDeleteProduct(p)" class="btn btn-danger">
           <i class="bi bi-trash"> </i>
           </button>
         </td>

         <td >
           <button (click)="handleEditProduct(p)" class="btn btn-success">
             <i class="bi bi-pencil"></i>
           </button>
         </td>


       </tr>
       </tbody>

     </table>
     <ul class="nav nav-pills">
      <li *ngFor="let item of [].constructor(this.totalPages);let i =index">
     <a (click)="gotoPage(i)" [ngClass]=" i==currentPage?'btn-info':'btn-outline-info' " class="btn  ms-1 mt-1">{{i}}</a>
      </li>
     </ul>

   </div>


  </div>



</div>

